.footer {
    background: $black;
    color: $white;
    padding: 100px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

    &__container {
        flex: 1 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__cols {
        display: flex;
        flex-wrap: wrap;
    }

    &__col {
        width: 100%;
        margin-bottom: 100px;
        &:first-child {
            margin-right: 50px;
            @media (min-width: 769px) {
                margin-right: 50px;
            }
        }

        @media (min-width: 769px) {
            width: auto;
            flex: 1 0 0;
        }
    }

    &__cta {
        width: 100%;
        max-width: 420px;
        ._title {
            line-height: 100%;
            display: inline-block;
            text-transform: uppercase;
            font-size: 13vw;
            @media (min-width: 480px) {
                font-size: 5rem;
            }
        }
        a {
            font-size: 2rem;
            display: block;
            opacity: 0;
            transform: translate(-20px);
            @include transition(.5s, (transform, opacity), 1s);
            
            .is-loaded & {
                opacity: 1;
                transform: translate(0);
            }

        }
    }

    &__menu {
        display: flex;
        opacity: 0;
        transform: translate(0, 20px);
        @include transition(1s, (transform, opacity));

        .is-loaded & {
            opacity: 1;
            transform: translate(0);
        }

        &--col {
            flex: 1 0 0;  
        }

        &--title {
            opacity: 0.5;
            margin-bottom: 30px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        a {
            color: $white;
            text-decoration: none;
            @include transition(.2s, color);
            &:hover {
                color: $yellow;
            }
        }
    }

    &__bottom {
        opacity: 0;
        transform: translate(0, 20px);
        @include transition(1s, (transform, opacity));

        .is-loaded & {
            opacity: 1;
            transform: translate(0);
        }
    }

    &__bottom-links {
        a {
            color: $white;
            text-decoration: none;
            display: inline-block;
            margin-right: 10px;
            @include transition(.2s, color);
            &:hover {
                color: $yellow;
            }
        }
    }

    &__copyright {
        opacity: .5;
        font-size: .9rem;
        margin-top: 30px;
    }
}