.carousel {
}

.pips {
  padding-left: 0;
  list-style: none;

  button {
    padding: 0;
    border: 0;
    margin-right: 0.5rem;

    &::after {
      content: "";
      height: 20px;
      width: 20px;
      background-color: $white;
      display: block;
      border-bottom: solid 3px $black;
      transform: scaleY(1);
      transition: transform 250ms ease-in-out;
    }

    &.--is-active,
    &:hover {
      &::after {
        border-bottom-color: $yellow;
        border-bottom-width: 7px;
        transform: scaleY(1);
        transition: transform 250ms ease-in-out;
      }
    }
  }
}
