<section class="{% if caseStudyClass %} {{caseStudyClass}}{% endif %}">
    <div class="casestudy__aside">
        <div class="casestudy__aside__logo">
            <picture class="image-lazy">
                <source 
                    media="(min-width: 320px)"
                    data-srcset="/assets/images/placeholder-client-logo.png"
                >
                <img src="/assets/images/placeholder-client-logo.png" alt="">
            </picture>
        </div>

        <div class="contacts__aside">
            <h4>Want to see what archetype could do for your business?</h4>
            <p>Get a free software demo or a free data evaluation.</p>
            {% for item in range(0,2)%}
                <div class="contacts__aside--detail">
                    <div class="_label">Email</div>
                    <a href="" class="link--underlined _link">0333 0000 000</a>
                </div>
            {% endfor %}
            <div class="contacts__aside--bottom">
                <a href="" class="btn">
                    <span>Get in touch</span>
                </a>
                
                <div class="--mobile">
                    {% for item in range(0,2)%}
                        <a href="" class="" title="">
                            <img src="/assets/images/svg/phone.svg" alt="">
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>


    </div>
    <div class="container">
        <div class="casestudy">
            <picture class="image-lazy casestudy__logo">
                <source 
                    media="(min-width: 320px)"
                    data-srcset="/assets/images/placeholder-client-logo.png"
                >
                <img src="/assets/images/placeholder-client-logo.png" alt="">
            </picture>
            <h1 class="h2 casestudy__title js-split-word">Specialist mortgage and secured loan provider, Together, tasked our credit risk and data experts with streamlining their onboarding processes.</h1>
            <div class="post">
                <p>With their current process heavily manually underwritten, our goal was to increase automation whilst also retaining the personal touch and high levels of customer service for which Together are known.</p>

                <figure>
                    <picture class="image-lazy">
                        <source 
                            media="(min-width: 320px)"
                            data-srcset="/assets/images/placeholder-01.png"
                        >
                        <img src="/assets/images/placeholder-01.png" alt="">
                    </picture>
                    <figcaption>
                        Meet John and the team behind Together’s onboarding success.
                    </figcaption>
                </figure>

                <figure class="--full">
                    <picture class="image-lazy">
                        <source 
                            media="(min-width: 320px)"
                            data-srcset="/assets/images/placeholder-01.png"
                        >
                        <img src="/assets/images/placeholder-01.png" alt="">
                    </picture>
                    <figcaption>
                        Meet John and the team behind Together’s onboarding success.
                    </figcaption>
                </figure>
                

                <p>With their current process heavily manually underwritten, our goal was to increase automation whilst also retaining the personal touch and high levels of customer service for which Together are known.</p>
                <p>With their current process heavily manually underwritten, our goal was to increase automation whilst also retaining the personal touch and high levels of customer service for which Together are known.</p>


                <blockquote>
                    <p class="js-split-word">This collaboration will streamline Together’s onboarding process, improve customer experience and speed-up the decisioning process</p>
                    <p class="--sm">Author</p>
                </blockquote>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur culpa corrupti cum nihil dicta cupiditate quam ex saepe placeat quisquam repudiandae, accusamus labore voluptatem facilis tempora nam mollitia explicabo repellendus.</p>

                <ul>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi molestias obcaecati maiores, ullam voluptatem corporis vero animi natus, consectetur quisquam dignissimos quae, tenetur esse itaque similique repudiandae at labore. Deleniti?</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis fugiat quod explicabo fuga at ipsa laborum vero nulla est, provident cum! Quidem commodi corporis perferendis quia repellendus tempore eius aut.</li>
                </ul>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non quidem ratione quae odit, inventore iste necessitatibus, reprehenderit accusamus laborum beatae ab veniam, incidunt aspernatur perferendis. Quasi officiis rerum dolor quibusdam?</p>

                <ul class="ul-stats">
                    <li>
                        <h3>5000</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A rem suscipit accusamus. Debitis, illum. Magni soluta dolor praesentium id ullam, dicta quaerat quisquam repudiandae obcaecati modi quo quasi, nemo eum?</p>
                    </li>
                    <li>
                        <h3>5000</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A rem suscipit accusamus. Debitis, illum. Magni soluta dolor praesentium id ullam, dicta quaerat quisquam repudiandae obcaecati modi quo quasi, nemo eum?</p>
                    </li>
                    <li>
                        <h3>5000</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A rem suscipit accusamus. Debitis, illum. Magni soluta dolor praesentium id ullam, dicta quaerat quisquam repudiandae obcaecati modi quo quasi, nemo eum?</p>
                    </li>
                </ul>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem natus voluptates nulla, quasi ad quos magni ducimus mollitia consectetur iure officia, in aliquam illo beatae voluptatibus laboriosam a eligendi eum.</p>

                <blockquote>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic fugit, molestiae ipsam, nisi, quis consequatur doloremque harum ipsa delectus sequi officiis? Animi obcaecati eveniet odio veritatis soluta quaerat dolores recusandae!
                </blockquote>

            </div>
        </div>
    </div>
</section>