<section class="newsletter{% if newsletterClass %} {{newsletterClass}}{% endif %}">
    <div class="container">
        <div class="newsletter__wrapper">
            <div class="newsletter__title">
                    <div class="_line js-split-word">Never miss</div>
                    <div class="_line js-split-word">a story.</div>
            </div>

            <div class="newsletter__form">
                <form action="">
                    <input type="email" placeholder="Enter your email">
                    <button>
                        <svg height="10.9" width="29" xmlns="http://www.w3.org/2000/svg">
							<path d="M24.6 10.9l-1.1-.9 3-3.8H0V4.7h26.5l-3-3.8 1.1-.9L29 5.5z"></path>
						</svg>
                    </button>
                </form>
            </div>

            <div class="newsletter__quote">
                <blockquote>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus omnis ratione animi architecto necessitatibus. Labore illo delectus iure. Sunt autem temporibus voluptate magnam minima expedita animi inventore perspiciatis sequi vitae!</blockquote>
                <div class="_author">Author</div>
            </div>
        </div>
    </div>
</section>