<section class="products{% if productsClass %} {{productsClass}}{% endif %}">
    <div class="container">
        {% set tag = "Our risk products"%}
        {% set title = "Our Risk Intelligence product suite comprises a range of specialist tools to improve the way you score, model, detect fraud, make lending decisions, set provisions and collect debt." %}
        {% set content = "<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium nesciunt, vero expedita quo iste incidunt nemo laboriosam nisi alias aperiam facere deleniti consequatur quaerat aliquam blanditiis distinctio! Totam, facere ex.</p><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium nesciunt, vero expedita quo iste incidunt nemo laboriosam nisi alias aperiam facere deleniti consequatur quaerat aliquam blanditiis distinctio! Totam, facere ex.</p>" %}
        {% include "_macros/blocks/_section-content.njk" %}

        <div class="products__wrapper">
            <div class="tag">Our latest</div>
            <div class="products__list --latest">
                {% for item in range(0,3) %}
                    <a href="" class="product">
                        <h4 class="_title title--arrow">
                            <span class="js-split-word">Some text here</span>
                            <svg fill="#ffffff" height="10.9" width="29"><path d="M24.6 10.9l-1.1-.9 3-3.8H0V4.7h26.5l-3-3.8 1.1-.9L29 5.5z"></path></svg>
                        </h4>
                        <div class="post">
                            <p>Lorem ipsum dolor sit</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        
    </div>
</section>