{% macro Footer(socialMediaLinks) %}

  <footer class="footer mt-auto pt-5 pt-md-7 pb-md-5" id="footer">

    <div class="container">

      <div class="row footer__links">

        <div class="col-md-6">

          <h2>
            Want to work with us?
          </h2>

          <a href="#" class="h2">
            Get in touch
          </a>

        </div>

        <div class="col-md-3 col-12">

          <h4 class="fs-6 mt-5 mt-md-0 mb-3 mb-md-5 --gray-light">
            Part of Jaywing
          </h4>

          <ul class="list-unstyled row g-0">
            <li class="col-6 col-md-12">
              <a href="#" title="Test">
                Jaywing Australia
              </a>
            </li>
            <li class="col-6 col-md-12">
              <a href="#" title="Test">
                Credit Risk &amp; Fraud
              </a>
            </li>
            <li class="col-6 col-md-12">
              <a href="#" title="Test">
                Frank Digital
              </a>
            </li>
            <li class="col-6 col-md-12">
              <a href="#" title="Test">
                Investors
              </a>
            </li>
          </ul>

        </div>

        <div class="col-md-3 col-12">

          <h4 class="fs-6 mt-5 mt-md-0 mb-3 mb-md-5 --gray-light">
            Follow us
          </h4>

          <ul class="list-unstyled row g-0">
            <li class="col-6 col-md-12">
              <a href="#" title="Test">
              Twitter
              </a>
            </li>
            <li class="col-6 col-md-12">
              <a href="#" title="Test">
              LinkedIn
              </a>
            </li>
          </ul>

        </div>

      </div>

      <div class="mb-5">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a href="#" title="Test">
                Accessibility
              </a>
          </li>
          <li class="list-inline-item">
            <a href="#" title="Test">
                Privacy policy
              </a>
          </li>
        </ul>
      </div>

      <div>
        <p class="--gray-light">© 2021 Jaywing. Jaywing plc is registered in England and Wales. Albert Works, 71 Sidney Street, Sheffield S1 4RG. Company number 05935923.</p>
      </div>

    </div>

  </footer>

{% endmacro %}

{{ Footer(
  [
    {
      "platform": "Instagram",
      "faClass": "fa-instagram",
      "href": "https://www.instagram.com/"
    },
    {
      "platform": "Facebook",
      "faClass": "fa-facebook-f",
      "href": "https://www.facebook.com/"
    },
    {
      "platform": "Twitter",
      "faClass": "fa-twitter",
      "href": "https://twitter.com/"
    }
  ]
) }}